<div class="container">
  <h1>Area</h1>
  <div class="row">
    <div class="col-6 card mb-3">
    <p>Lorem ipsum dolor sit amet. Ut velit sint hic fuga pariatur cum quia voluptas eos dolorem odio ut placeat vitae. Aut quas vero hic sunt facere non quas illo. Qui omnis optio eos laborum provident et obcaecati reiciendis et voluptatem facilis a sint amet. Est minima alias At quidem galisum qui cumque laborum aut harum quia aut sequi velit. Et culpa laboriosam eum provident nobis est iste sint est mollitia rerum qui dolores voluptate.  </p>
    <ul>
      <li>here 1</li>
      <li>here 2</li>
      <li>here 3</li>
      <li>here 4</li>
      <li>here 5</li>
      <li>here 6</li>
      <li>here 7</li>
    </ul>
    </div>
    <div class="col-6"><%=cl_image_tag("mapOfSutton_hzcwqc", class: "mainmedimage")  %></div>
  </div>
</div>
