<div class="container">
  <h1>Area</h1>
  <div class="row">
    <div class="col-6">
    <p>Lorem ipsum dolor sit amet. Ut velit sint hic fuga pariatur cum quia voluptas eos dolorem odio ut placeat vitae. Aut quas vero hic sunt facere non quas illo. Qui omnis optio eos laborum provident et obcaecati reiciendis et voluptatem facilis a sint amet. Est minima alias At quidem galisum qui cumque laborum aut harum quia aut sequi velit. Et culpa laboriosam eum provident nobis est iste sint est mollitia rerum qui dolores voluptate. Et assumenda dolores sed repellat repellendus est temporibus porro ut assumenda quaerat et dolorum eligendi aut blanditiis distinctio. Ut molestiae reiciendis et perspiciatis pariatur ut doloremque nisi vel dolores debitis. Eum optio saepe ut voluptas deleniti aut distinctio totam ab aspernatur ratione aut dolores iste. Et officiis laudantium ut sint tempora et voluptate rerum At nemo enim vel sunt mollitia est minus dolore. Qui eius impedit quo error Quis qui fugiat porro et nemo repellendus id dolor veritatis. Et illo cupiditate sed odit vero cum omnis illum et voluptas nihil.</p>
    </div>
    <div class="col-6"><%=cl_image_tag("mapOfSutton_hzcwqc", class: "mainmedimage")  %></div>
  </div>
</div>
