
  <div class="container">
    <h1>Services</h1>
  </div>

  <div class="container card">
    <div class="row">
      <div class="col-6">
        <h2>Window Cleaning</h2>
        <p>Comprehensive cleaning of both inside and outside glass for a flawless finish.</p>
      </div>
      <div class="col-6">
        <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2")  %>
      </div>
      <div class="col-6">
        <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2")  %>
      </div>
      <div class="col-6">
        <h2>Conservatories & Orangeries</h2>
        <p>Specialized cleaning for glass roofs and intricate frames to keep your sunroom bright.</p>

      </div>
      <div class="col-6">
        <h2>Gutter Cleaning</h2>
        <p>Essential maintenance to remove debris and ensure your drainage system works perfectly.</p>
      </div>
      <div class="col-6">
        <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2")  %>
      </div>
       <div class="col-6">
        <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2")  %>
      </div>
      <div class="col-6">
        <h2>Patio Cleaning</h2>
        <p>Restore your outdoor spaces with our high-pressure jet washer—removing moss, algae, and grime.</p>
      </div>
    </div>
  </div>
