.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel .carousel_items {
  display: none;
  flex: 1;
  text-align: center; /* Center image horizontally */
}

.carousel .carousel_items img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.carousel .carousel_item_visible {
  display: block;
}

.carousel .carousel_actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  gap: 10px;
}

.carousel .carousel_actions button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  z-index: 10; /* Ensure buttons are on top of images */
}

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider img{
  width: 100%;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: #00000000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}
@keyframes fade{
  from {opacity: 0.4;}
  to {opacity: 1;}
}
