.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

.new {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.new button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
