.slider {
  position: relative;
  width: 100vw;
  margin: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slideimage {
  width: 100vw;
  object-fit: cover;
  filter: blur(5px);
  z-index: 1;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 20px;
  border-radius: 5px;
}

.slider button:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

/* Left button */
.slider button[data-action="slideshow#previous"] {
  left: 10px; /* Place the button on the left side */
}

/* Right button */
.slider button[data-action="slideshow#next"] {
  right: 20px; /* Place the button on the right side */
}

img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
}
