.navimage {
  height:20%;
  width:20%;
}
.backgroundimage1{
  background-image: url('https://res.cloudinary.com/daaxwngzv/image/upload/v1722958312/commercial-window-cleaning-new_nennf8.jpg');
}

.mainsmallimage{
  width: 20vw;
  object-fit: cover;
}

.mainmedimage{
  width: 40vw;
  object-fit: cover;
}
