<div class="footer-banner d-flex justify-content-around">
  <div>
    <%= cl_image_tag("window-cleaning-logo-vector-template-design-2PK4XNT_cn2yki",class: "footerimage", alt:"The World and I cover") %>
  </div>
  <div>
    <h3 class="pb-3">E: apollowindowcleaning124@gmail.com</h3>
    <h3>T: 07832-355-491</h3>
  </div>
</div>
