<div class="footer-banner d-flex justify-content-around">
  <div>
    <%= cl_image_tag("window-cleaning-logo-vector-template-design-2PK4XNT_cn2yki", class: "navimage", alt:"The World and I cover") %>
  </div>
  <div>
    <h3>E: abc@123.com</h3>
    <h3>P: 123-456-7890</h3>
  </div>
</div>
